
@model IEnumerable<EmpManagement.Models.Department>


@{
    ViewBag.Title = "Index";
}

<hr/>
<hr/>

<h1>Department Index</h1>

@Html.ActionLink("Create New", "Create") |

<table class="table table-striped col-md-10">
    <tr>
        <th>
            <div class="col-md-4">
            @Html.DisplayNameFor(model => model.ID)
            </div>
        </th>
        <th>
            <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
     
        <tr>
            <td>
                <div class="col-md-4">
                @Html.DisplayFor(modelitem => item.ID )
                </div>
            </td>
           
            <td>
                <div class="col-md-4">
                @Html.DisplayFor(modelitem => item.Name)
                </div>
            </td>
            <td>
               
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
    @Html.ActionLink("Home Page", "../Home/Index")
</table>

