
@model EmpManagement.Models.Employee

@{
    ViewBag.Title = "Create";
    var departments = (SelectList)ViewBag.Departments;
}

<hr/>
<hr/>

<h2>Create Employee</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <div class="form-horizontal col-md-offset-2 col-md-10">
       
       
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOJ, new { @class = "col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DOJ)
                @Html.ValidationMessageFor(model => model.DOJ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, new { @class = "col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ContactNo)
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, new { @class = "col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.Salary)
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department,new { @class = "col-md-2"})
                <div class="col-md-8">
                @Html.DropDownListFor(d => d.DepartmentID,departments,"--Select Department--")
                @Html.ValidationMessageFor(model => model.DepartmentID)                     
                </div>
            </div>
          

        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                @Html.ActionLink("Back to Options","Index")
            </div>
        </div>
    </div>
        
}


