
@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h1>Employee Index</h1>


<table class="table table-condensed col-md-12">
    
    <tr>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.ID)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.EmpName)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.EmpDOJ)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.EmpContactNo)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.EmpSalary)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.DeptID)
                </div>
            </th>
</tr>
        
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ID)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.EmpName)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.EmpDOJ)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.EmpContactNo)
                 </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.EmpSalary)
                    </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.DeptID)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.ActionLink("Create New", "Create", new { id = item.ID })
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                </div>
            </td>
            <td>
                <div class="col-md-2">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </td>
        </tr>
    }
</table>
