@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<hr />
<hr />

<h1>Employee Index</h1>


<table class="table table-bordered col-md-10">

    <tr>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.ID)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.DOJ)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.ContactNo)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Salary)
            </div>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ID)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.DOJ)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Salary)
                </div>
            </td>


            </tr>

    <tr>
        <td>
            <div class="col-md-2">
                @Html.ActionLink("Create New", "Create", new { id = item.ID })
            </div>
        </td>
        <td>
            <div class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </div>
        </td>

        <td>
            <div class="col-md-2">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </div>
        </td>

        <td>
            <div class="col-md-2">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </td>
    </tr>

    }
    </table>

