@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
  @*  ViewBag.Message = "No department records exist,please insert one";
    ViewBag.Message = "Please make sure the department records are unique";*@
}

<hr />
<hr />


<h1>Employee Index</h1>

@Html.ActionLink("Create New", "Create") |

<table class="table table-striped col-md-10">

    <tr>
        <th>
            <div class="">
                @Html.DisplayNameFor(model => model.ID)
            </div>
        </th>
        
        <th>
            <div class="">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
        <th>
            <div class="">
                @Html.DisplayNameFor(model => model.DOJ)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.ContactNo)
            </div>
        </th>
        <th>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Salary)
            </div>
        </th>

        <th>
            <div class="">
                @Html.DisplayNameFor(model => model.Department)
            </div>
        </th>
        

    </tr>

    @foreach (var item in Model)
    {
       
        <tr>
           <td>
               <div class="">
                   @Html.DisplayFor(modelItem => item.ID)
               </div>

           </td>

            <td>
                <div class="">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </td>
            <td>
                <div class="">
                    @Html.DisplayFor(modelItem => item.DOJ)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </div>
            </td>
            <td>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Salary)
                </div>
            </td>

          <td>
                <div class="">
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </div>
            </td>
        
       
        <td>
           
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    
        </td>
    </tr>

    }
    @Html.ActionLink("Home Page", "../Home/Index")
    </table>

